/* NO MODIFICAR ESTOS ESTILOS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu */


/* Header */

.header-container {
    color: #5995DA;
    background-color: #e7e7e7;
}


/* Grid */

.photo-grid-item { 
    height: 138px;
}

/* Footer */
  .footer-item {
    border: 2px solid #fff;
    background-color: #D6E9FE;
  }

/* APARTIR DE AQUI PUEDES AÑADIR TUS ESTILOS */

/* menu   */

.menu-contenedor{
  display: flex;
  background-color: #10335c;
  width: 900px;
} 
.menu{
  width: 900px;
  display: flex;
  width: auto;
  align-items: center;
  padding: 20px;
  color: white;
}
.registro{
  display: flex;
  margin-right: auto;
}

.menu-item{
  display: flex;
  margin-left: auto;
}
.fecha {
  margin-right: auto;
}

.menu-item .enlace{
  text-decoration: none;
  display: block;
}

.menu-item .enlace:hover{
  background-color: black;
  color: white;
}

/*header*/

.header-container{
  display: flex;
  width: 900px;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}
.header{
  width: 900px;
  height: 150px;
  align-items: center;
  display: flex;
  padding: 10px;
  
}
.logo{
  margin: auto;
}
.social{
  margin-top: 50px;
  margin-right: 20px;
}

.contacto {
  font-weight: bold;
  font-style: italic;
  margin-top: 50px;
  margin-right: 20px;
}
div{
  border: solid red 1px;
}


/* rehilla*/

.photo-grid-container{
  display: flex;
  width: 900px;
}
.photo-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}        
.photo-grid-item{
  align-self: flex-start;
}        
.first-item{
  order: 1;
}
.last-item{
  order: 5;
}

/*pie*/
.footer{
  display: flex;
}
.footer-item{
  height: 200px;
  border: 1px solid red;
}
.footer-one, .footer-three{
  flex: 1;
}
.footer-two {
  flex: 2;
}
